<div class='form_main'>
  <h1>店舗登録</h1>
</div>

<div class="form-area">
  <%= form_with model: @store do |f| %>

    <div class="text-center">
      <% if @store.image? %>
        <%= image_tag @store.image.url, :size => '100x100', class: 'rounded' %>
      <% else %>
        <%= image_tag "/assets/default.jpg", :size => '100x100', class: 'rounded' %>
      <% end %>
    </div>

    <div class="form-group">
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form-control"%>
      </div>

    <div class="form-group">
      <%= f.label :店舗名 , class:"required" %>
      <%= f.text_field :name, class:'form-control', placeholder:"店舗名を入力してください。"  %>
    </div>

    <div class="form-group">
      <%= f.label :都道府県 , class:"required" %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: '都道府県を選択してください' }, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :住所 , class:"required" %>
      <%= f.text_field :address, class:'form-control', placeholder:"市区町村を入力してください。例:◯◯市◯◯区1-1-1"   %>
    </div>

    <div class="form-group">
      <%= f.label :生産国 , class:"required" %><p class="countries_note" >※複数の国はスペース区切りで入力してください。</p>
      <%= f.text_field :countries, class:'form-control', placeholder: "生産国を入力してください。例:エチオピア コロンビア" %>
    </div>

    <div class="form-group">
      <%= f.label :焙煎度 , class:"required" %>
      <%= f.select :roast_level,["1 浅煎り", "2 中浅煎り", "3 中煎り", "4 中深煎り", "5 深煎り"] , { prompt: "焙煎度を選択してください。" }, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :お店の紹介 , class:"required" %>
      <%= f.text_area :introduction, class:'form-control', placeholder:"お店の紹介を入力してください。"   %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit "登録" , class:"btn btn-success" %>
      <%= link_to "戻る", :back, class:"btn btn-outline-secondary" %>
    </div>

  <% end %>
</div>
