<% content_for :title, "#{@user.name} のプロフィール編集 - こそこそ珈琲研究室" %>
<%= stylesheet_link_tag "user_edit.css", media: "all" %>
<%= stylesheet_link_tag "user_account_edit_shared.css", media: "all" %>

<%= render "devise/shared/error_messages", resource: @user %>

<div class="form_main">
  <h1>プロフィール編集</h1>
</div>

<div class="form-area">
  <%= form_with model: @user do |f| %>

    <% if current_user.email == 'guest@example.com' %>
      <p class="text-danger">ゲストユーザーはプロフィールを変更できません。</p>
    <% end %>

    <div class="text-center">
      <%= image_tag(@user.image? ? @user.image.url : "/assets/default.jpg", id: "image_preview", class: "rounded") %>
    </div>

    <div class="form-group">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "image_input", disabled: (current_user.email == 'guest@example.com')  %>
      <% if current_user.email == 'guest@example.com' %>
        <p class="text-danger">ゲストユーザーは画像を変更できません。</p>
      <% end %>
    </div>

    <div class="text-center">
      <% if @user.image? %>
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image, "画像を削除する" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :name, "名前", class: "required" %>
      <%= f.text_field :name, class: "form-control", disabled: (current_user.email == 'guest@example.com')  %>
    </div>

    <div class="form-group">
      <%= f.label :productionarea, "好きな産地" %>
      <%= f.text_field :productionarea, class: "form-control", placeholder: "例: エチオピア", disabled: (current_user.email == 'guest@example.com')  %>
    </div>

    <div class="form-group">
      <%= f.label :favorite, "好きなコーヒー" %>
      <%= f.text_area :favorite, class: "form-control favorite_input_text", placeholder: "例: フルーティー香りにシトラス系の酸味が好み。" , disabled: (current_user.email == 'guest@example.com') %>
    </div>

    <div class="form-group">
      <%= f.label :introduce, "自己紹介" %>
      <%= f.text_area :introduce, class: "form-control user_input_text", placeholder: "自己紹介を書いてみよう！", disabled: (current_user.email == 'guest@example.com')  %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit "更新", class: "btn btn-success", disabled: (current_user.email == 'guest@example.com')  %>
      <%= link_to "キャンセル", user_path(current_user), class: "btn btn-outline-secondary" %>
    </div>

  <% end %>
</div>
