<% content_for :title, "#{@user.name} の詳細 - こそこそ珈琲研究室" %>
<%= stylesheet_link_tag "user_show.css", media: "all" %>
<%= stylesheet_link_tag "user_account_show_shared.css", media: "all" %>

<% if @user.image? %>
  <%= image_tag @user.image.url , class: 'rounded mx-auto d-block'%>
<% else %>
  <%= image_tag "/assets/default.jpg", class: 'rounded mx-auto d-block' %>
<% end %>

<ul class="list-group list-group-numbered">

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">名前</div>
      <div class="my_account_page-font">
        <%= @user.name %>
      </div>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">好きな産地</div>
      <div class="my_account_page-font">
        <% if @user.productionarea.present? %>
          <%= @user.productionarea %>
        <% else %>
          <div class="unset-style">未設定</div>
        <% end %>
      </div>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">好きなコーヒー</div>
      <div class="my_account_page-font">
        <% if @user.favorite.present? %>
          <%= @user.favorite %>
        <% else %>
          <div class="unset-style">未設定</div>
        <% end %>
      </div>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">自己紹介</div>
      <div class="my_account_page-font">
        <% if @user.introduce.present? %>
          <%= @user.introduce %>
        <% else %>
          <div class="unset-style">未設定</div>
        <% end %>
      </div>
    </div>
  </li>

  <% if current_user == @user %>
    <%= link_to "プロフィール編集 →", [:edit, @user], class: "account_mypage_links" %>
    <%= link_to "ユーザーページ →", account_path, class: "account_mypage_links" %>
  <% end %>

  <%= link_to "#{@user.name}さんのお気に入り一覧", favorites_user_path(@user) ,class: "account_mypage_links"%>
  <%= link_to "#{@user.name}さんのレビュー一覧", reviews_user_path(@user), class: "account_mypage_links" %>
</ul>
